* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: vt323;
  src: url(/assets/VT323-Regular.ttf);
}

body {
  font-family: "vt323";
  letter-spacing: .3rem;
  height: 100vh;
  margin: 0;
  text-align: center;
  overflow: hidden; /* Hide scrollbars */
}

.state {
  display: none;
}

.state.active {
  display: block;
}

.container {
  margin: 0 auto;
  width: 100vh;
  height: 100%;
}

.circle {
  background-color: #312783; /* Circle color */
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}

h1 {
  position: relative;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  color: white;
  font-size: 75px;
}

h6 {
  position: relative;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  color: white;
  font-size: 40px;
}

p {
  color: white;
  display: inline-block;
  font-size: 20px;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.isVCentered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.isCentered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#startButton {
  width: 275px;
  height: 275px;
}


@keyframes spin { 
  from { 
      transform: rotate(360deg); 
  } to { 
      transform: rotate(0deg); 
  }
}

.curved-text{
  margin:0 auto;
  position: absolute;
  animation: spin 20s linear infinite;
}

 .curved-text span{
  min-width:0.5em;
  text-align:center;
  padding:0;
  margin:0;
}

@keyframes pulse {
	0% {
    translate: -50% -50%;
		transform: scale(0.95);
	}

	70% {
    translate: -50% -50%;
		transform: scale(1);
	}

	100% {
    translate: -50% -50%;
		transform: scale(0.95);
	}
}

.isPulsing {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#dillemaKeuze {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 4fr 1fr 4fr;
}

#dillemaKeuze div button img{
  width: 100%;
  position: relative;
}

#dillemaWoord {
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
}

.temperaryCenteredButtonContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Set the height of the container as needed */
  /* Additional styles for container */
  z-index:100;

}

.temperaryCenteredButton {
    /* Button styling (optional) */
    padding: 50px 100px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    z-index:100;
}